@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-secondary bg-opacity-70;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
    @apply w-[30px] h-[3px] my-2 block bg-primary;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

/* .loader {
    border-top-color: #0C064E;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  } */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }